.calendar-container {
  text-align: center;
  margin: 20px;
  text-align: center;
  background-color: #f3f3f3;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns for 7 days of the week */
  gap: 10px;
  position:relative;
}

.day {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  position: relative;
}


.day-background {
    display: none;
}